*{
    margin: 0px;
    padding: 0px;
    transition: all 0.3s;
}
nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 95, 3);
    height: 8vh;
    position: fixed;
    z-index: 5;
}
nav img{
    width: 8%;
    padding-left: 150px;
}
nav ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    list-style: none; 
}
ul>li a{ 
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 17px;
   padding: 5px 15px;
   border-radius: 20px;
   /* transition: all 0.5s; */
}
 nav ul>li a:hover{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 3px black;
}
.bg{
    width: 100%;
    height: 100vh;
    /* background-image: url(https://b.zmtcdn.com/data/collections/684397cd092de6a98862220e8cc40aca_1721907131.png); */
    /* background-image: linear-gradient(rgba(38, 37, 37, 0.881),rgba(0, 0, 0, 0.479)),url(https://qul.imgix.net/31593cdc-1c98-4a1b-b6a7-14b77d2419dc/581974_sld.jpg); */
    /* background-image: linear-gradient(rgba(250, 65, 4, 0.404),rgba(255, 41, 3, 0.618)); */
    /* background-position: cover; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 10px; */
    padding-top: 20px;
}
.images{
    width: 50%;
    height: 80%;
    transition: all 1s;
    /* background-color: black; */
}
.images img{
    padding: 20px;
    /* border-radius: 100%; */
}
.img1{
    width: 150px;
    height: 150px;
    position: relative;
    top: -20px;
    left: 120px;
    border-radius: 20%;
    z-index: 1;
}
.zoom:hover{
    z-index: 5;
    transform: scale(1.02);
    box-shadow: 3px 3px 5px rgb(255, 93, 3);
}
.img3{
    width: 150px;
    height: 150px;
    position: relative;
    left: 100px;
    top: -60px;
    border-radius: 100%;
    z-index: 2;
}
.img4{
    width: 150px;
    position: relative;
    top:250px;
    left: 100px;
    z-index: 1;
    visibility: hidden;
}
.img5{
    width: 200px;
    position: relative;
    top: -180px;
    left: 450px;
    border-radius: 40px;
    z-index: 2;
}
.img6{
    height: 330px;
    position: relative;
    left: 65px;
    top: -300px;
    border-radius: 50px;
}
.img7{
    width: 300px;
    position: absolute;
    top: 350px;
    left: 0px;
    border-radius: 40px;
}
.desc{
    width: 40%;
    height: 55vh;
    /* background-color: red; */
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 95, 3);
    box-shadow: 0px 2px 10px black;
}
.desc:hover{
    box-shadow: 2px 2px 5px black;
}
.desc .heading{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
}
.desc p{
    margin: 20px;
    font-size: 18px;
    text-align: center;
}
.rating{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.exp{
    display: flex;
    border-left: 2px solid white;
    border-bottom: 5px solid white;
    border-radius:10px;
    padding:5px 10px;
}
.num{
    font-size: 50px;
    color:white;
}
.exp span{
    padding-left: 10px;
}
.chefs{
    display: flex;
    border-left: 2px solid white;
    border-bottom: 5px solid white;
    border-radius:10px;
    padding:5px 10px;
}
.chefs span{
    padding-left: 10px;
}
.bg button{
    margin: 30px 40px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(255, 93, 3);
    color: white;
}
.bg button:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 5px black;
}
#about{
    text-align: center;
}
#about .swiggy{
    height: 25vh;
}
.about_images .image1{
    width:20%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: linear-gradient(rgb(230, 3, 3));
}
.about_images .image2{
    width: 30%;
}
.about_images .image3{
    width: 20%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.food_items{
    width:200px;
} 
#about h1{
    margin:5px 0px 20px 0px;
    font-size: 45px;
    color: rgb(255, 93, 3);
}
#about p{
    margin: 15px 150px;
    text-align: center;
    font-size: 18px;
}
#menu{
    text-align: center;
    margin-top: 100px;
}
#menu h1{
    font-size: 43px;
    color: rgb(255, 93, 3);
}
#menu h1>span{
    color: gray;
    font-size: 15px;
}
#menu img{
   width: 55%; 
   height: 70vh;
   margin-top: 15px;
   border-radius: 30px;
}
.left_side_image{
    width: 240px;
    position: relative;
    top: -500px;
}
.right_side_image{
    width: 260px;
    float: right;
    position: relative;
    top: -480px;
}
#order{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    margin-left: 250px;

}
.order_items{
    width: 35%;
    border-radius: 10px;
}
.order_items:hover{
    transform: scale(1.05);
}
#footer{
    text-align: center;
    margin-top: 50px;
    padding: 50px 0px;
    background-color: rgba(208, 208, 208, 0.504);
}
.f_img{
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 93, 3);
}
#footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    list-style: none;
}
#footer ul>li a{
    text-decoration: underline;
    color: black;
}
#footer .apps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.apps img{
    display: flex;
    width: 35px;
}


.outer{
    width: 100%;
    display: flex;
    /* background-color: red; */
}
.cards {
   width: 420px;
   border: 2px solid black;
   border-radius:5px;
   /* text-align: center; */
}
.cards h2{
    text-align: center;
}
.cards img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}